In [2]:
import pandas as pd

In [3]:
hawaii_data = pd.read_csv('hawaii_measurements.csv')
print(hawaii_data.describe())
hawaii_data.head()

               prcp          tobs
count  18103.000000  19550.000000
mean       0.160644     73.097954
std        0.468746      4.523527
min        0.000000     53.000000
25%        0.000000     70.000000
50%        0.010000     73.000000
75%        0.110000     76.000000
max       11.530000     87.000000

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
missings = hawaii_data.isnull().sum()
missings

station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [5]:
cleaned = hawaii_data.dropna()
cleaned.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [6]:
cleaned.to_csv('clean_hawaii_measurements.csv')